<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299051492096-1igc2fo4rajtd7ebuntf4g73cgs5s9fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299051492096-1igc2fo4rajtd7ebuntf4g73cgs5s9fj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>299051492096-471dvugn7ds6jrtenu2iivf785fta4br.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhs7QnkKtmr8ycUMDS-21TJpugij7XPnk</string>
	<key>GCM_SENDER_ID</key>
	<string>299051492096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolViolenceApp</string>
	<key>PROJECT_ID</key>
	<string>school-violence-d8038</string>
	<key>STORAGE_BUCKET</key>
	<string>school-violence-d8038.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299051492096:ios:7544fdeee4ffdf53a289e5</string>
	<key>DATABASE_URL</key>
	<string>https://school-violence-d8038-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>